# Xcode
*.xcodeproj/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Tuist
.build/
Derived/

# macOS
.DS_Store

# Swift
.swiftpm/

# Secrets
App/Secrets.xcconfig
.env.fastlane

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
build/
